@page "/About"
<!-- About Section -->
<section class="page-section bg-primary text-white pull-down pb-5" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row mb-5">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Currently, I work with innovative GIS and mapping technologies, such as UAS, LiDAR and photogrammetry. <br/> <br/>
                    I am seeking my second bachelor's degree in Computer Science through Oregon State University. <br/><br/>
                    My goal is to develop geospatial applications professionally. I also enjoy game dev, embedded dev, modeling and 3D printing, web and mobile dev.
                 </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Primary Technical Skills: 
                    <ul>
                        <li>C++</li>
                        <li>C#</li>
                        <li>.NET</li>
                        <li>Unity</li>
                        <li>LiDAR</li>
                        <li>GIS</li>
                        <li>Python</li>
                        <li>Mapping</li>
                        <li>Design</li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</section>




@code{
    

}
