@page "/CalculatorPage"

<div class="mt-5 pt-5 pull-down content-height align-middle">
    <h3 class="text-center m-4">Simple Calculator</h3>
    <div class="d-flex justify-content-center">

        <Calculator />

    </div>
    <p class="text-center m-2">This was implemented using ASP.NET Blazor</p>
</div>



@code{
    

}