@page "/Contact"
<!-- Contact Section -->
<section class="page-section pull-down" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <h3>Christian Nelson</h3>
            </div>
            <div class="card-body">
                <a class="btn btn-outline-primary btn-lg m-2" href="tel:3048413410"><i class="fas fa-phone fa-3x"></i></a>
                <a class="btn btn-outline-primary btn-lg m-2" href="mailto:nelson.christian.m@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
                <a class="btn btn-outline-primary btn-lg m-2" href="sms:3048413410"><i class="fas fa-sms fa-3x"></i></a>
                <br/>
                <a class="btn btn-outline-secondary btn-lg m-2" href="https://github.com/c-nelson">
                    <i class="fab fa-fw fa-github fa-3x"></i>
                </a>
                <a class="btn btn-outline-secondary btn-lg m-2" href="https://www.linkedin.com/in/nelson-christian/">
                    <i class="fab fa-fw fa-linkedin-in fa-3x"></i>
                </a>
                <br/>
                <h5 class="card-text">304-841-3410</h5>
                <h5 class="card-text">nelson.christian.m@gmail.com</h5>
            </div>
        </div>

    </div>
</section>
@code {

}
