@page "/"
<!-- Masthead -->
<header class="masthead bg-primary text-white text-center mt-0">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-2" src="/img/profile-s.png" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">Christian Nelson</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light pb-5">Software Developer - Geospatial Expert - UAV Mapping Professional</p>

    </div>
</header>




@code{
    

}