@page "/Portfolio"
<!-- Portfolio Section -->
<section class="page-section portfolio pull-down" id="portfolio">
    <div class="container align-middle">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

            <!-- Portfolio Item 1 -->
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card">
                    <i class="fas fa-calculator fa-6x card-img-top mt-4"></i>

                    <div class="card-body">
                        <h5 class="card-title">Caclulator App</h5>
                        <p class="card-text">created purley in C# using Blazor.</p>
                        <a href="CalculatorPage" class="btn btn-primary">Try it</a>
                    </div>
                </div>
            </div>


            <!-- Portfolio Item 3 -->
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card">
                    <i class="fas fa-helicopter fa-6x card-img-top mt-4"></i>

                    <div class="card-body">
                        <h5 class="card-title">LiDAR Mapping</h5>
                        <p class="card-text">lidar viewer of a site surveyed using a drone.</p>
                        <a href="http://cnelson.xyz/pc/chap.html" class="btn btn-primary">See it</a>
                    </div>
                </div>
            </div>
        
                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card">
                        <i class="fas fa-camera-retro fa-6x card-img-top mt-4"></i>

                        <div class="card-body">
                            <h5 class="card-title">UAV Camera Triggering</h5>
                            <p class="card-text">embedded C++ for triggering a camera for mapping flights.</p>
                            <a href="https://github.com/c-nelson/uav-cam-trigger" class="btn btn-primary">See the code</a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card">
                        <i class="fas fa-video fa-6x card-img-top mt-4"></i>

                        <div class="card-body">
                            <h5 class="card-title">UAV Camera Mount</h5>
                            <p class="card-text">custom camera mount designed in Fusion 360 for 3D printing</p>
                            <a href="https://github.com/c-nelson/phaseone-m600-mount" class="btn btn-primary">See the model</a>
                        </div>
                    </div>
                </div>

            </div>
        <!-- /.row -->

    </div>
</section>





@code{
    

}